In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\DELL\AppData\Local\Temp\ipykernel_10328\555797462.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### setting display options for better viewing of dataframes in the notebook

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',1000)
pd.set_option('display.float_format',lambda x: '%.2f' % x) #formatting floats to two decimal places

### loading the dataset

In [5]:
try:
    df=pd.read_excel("../data/raw/online_retail.xlsx")
    print("Dataset loaded successfully")
except FileNotFoundError:
    print("File not found!")

Dataset loaded successfully

### Exploring the dataset
#### 1. First look at the data

In [8]:
print("\n---First five rows---")
df.head()

---First five rows---

  InvoiceNo StockCode                          Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00       2.55    17850.00  United Kingdom
1    536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00       3.39    17850.00  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00       2.75    17850.00  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00       3.39    17850.00  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00       3.39    17850.00  United Kingdom

#### Display rows and columns

In [11]:
df.shape

(541909, 8)

### 2. Data information and types
#### Getting a concise summary of the DataFrame including data types , non-null values and memory usage
#### This will help us identify the missing values and incorrect data types

In [9]:
print("\n---DataFrame info---")
df.info()

---DataFrame info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

### 3. Descriptive statistics for numerical columns
#### This tells us about the count,max,min,std,mean and quartiles for numeric data

In [12]:
print("\n---Descriptive Statistics---")
df.describe()

---Descriptive Statistics---

       Quantity                    InvoiceDate  UnitPrice  CustomerID
count 541909.00                         541909  541909.00   406829.00
mean       9.55  2011-07-04 13:34:57.156386048       4.61    15287.69
min   -80995.00            2010-12-01 08:26:00  -11062.06    12346.00
25%        1.00            2011-03-28 11:34:00       1.25    13953.00
50%        3.00            2011-07-19 17:17:00       2.08    15152.00
75%       10.00            2011-10-19 11:27:00       4.13    16791.00
max    80995.00            2011-12-09 12:50:00   38970.00    18287.00
std      218.08                            NaN      96.76     1713.60

### 4. Check missing values in the dataset for each column.

In [13]:
print("\n---Missing values check---")
df.isnull().sum()

---Missing values check---

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

### Calculate the percentage of missing values

In [14]:
df.isnull().sum() / len(df) * 100

InvoiceNo      0.00
StockCode      0.00
Description    0.27
Quantity       0.00
InvoiceDate    0.00
UnitPrice      0.00
CustomerID    24.93
Country        0.00
dtype: float64

### 5. Check unique values for key categorical / identifier columns. 
#### This gives us an insight into the cardinality and diversity of customers , products etc.

In [15]:
print("\n---Unique values for key columns---")
print("Unique InvoiceNo" , df['InvoiceNo'].nunique())
print("Unique StockCode" , df['StockCode'].nunique())
print("Unique Description" , df['Description'].nunique())
print("Unique CustomerID" , df['CustomerID'].nunique())
print("Unique Country" , df['Country'].nunique())

---Unique values for key columns---
Unique InvoiceNo 25900
Unique StockCode 4070
Unique Description 4223
Unique CustomerID 4372
Unique Country 38

### 6. Detailed Inspection of critical columns to inspect for anomalies or insights.
#### InvoiceDate - checking the time range of the data.

In [19]:
print("\n--- InvoiceDate Range ---")
print("Minimum InvoiceDate", df['InvoiceDate'].min())
print("Maximum InvoiceDate", df['InvoiceDate'].max())
print(f"Data spans: {(df['InvoiceDate'].max() - df['InvoiceDate'].min()).days} days")

--- InvoiceDate Range ---
Minimum InvoiceDate 2010-12-01 08:26:00
Maximum InvoiceDate 2011-12-09 12:50:00
Data spans: 373 days

### Quantity - Check for negative values (returns)

In [20]:
print("\n--- Quantity Analysis ---")
negative_quantity_count = df[df['Quantity'] < 0].shape[0]
print(f"Number of transactions with negative Quantity (returns/cancellations): {negative_quantity_count}")
print(f"Percentage of negative Quantity transactions: {(negative_quantity_count / df.shape[0]) * 100:.2f}%")

--- Quantity Analysis ---
Number of transactions with negative Quantity (returns/cancellations): 10624
Percentage of negative Quantity transactions: 1.96%

In [23]:
# Display some rows with negative quantity to understand their characteristics
print("Examples of negative Quantity transactions:")
print(df[df['Quantity'] < 0].head())

Examples of negative Quantity transactions:
    InvoiceNo StockCode                       Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country
141   C536379         D                          Discount        -1 2010-12-01 09:41:00      27.50    14527.00  United Kingdom
154   C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1 2010-12-01 09:49:00       4.65    15311.00  United Kingdom
235   C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12 2010-12-01 10:24:00       1.65    17548.00  United Kingdom
236   C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24 2010-12-01 10:24:00       0.29    17548.00  United Kingdom
237   C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24 2010-12-01 10:24:00       0.29    17548.00  United Kingdom

### UnitPrice - Investigate zero or negative values

In [24]:
print("\n--- UnitPrice Analysis ---")
non_positive_price_count = df[df['UnitPrice'] <= 0].shape[0]
print(f"Number of transactions with non-positive UnitPrice: {non_positive_price_count}")
print(f"Percentage of non-positive UnitPrice transactions: {(non_positive_price_count / df.shape[0]) * 100:.2f}%")

--- UnitPrice Analysis ---
Number of transactions with non-positive UnitPrice: 2517
Percentage of non-positive UnitPrice transactions: 0.46%

In [25]:
# Display some rows with non-positive price
print("Examples of non-positive UnitPrice transactions:")
print(df[df['UnitPrice'] <= 0].head())

Examples of non-positive UnitPrice transactions:
     InvoiceNo StockCode Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country
622     536414     22139         NaN        56 2010-12-01 11:52:00       0.00         NaN  United Kingdom
1970    536545     21134         NaN         1 2010-12-01 14:32:00       0.00         NaN  United Kingdom
1971    536546     22145         NaN         1 2010-12-01 14:33:00       0.00         NaN  United Kingdom
1972    536547     37509         NaN         1 2010-12-01 14:33:00       0.00         NaN  United Kingdom
1987    536549    85226A         NaN         1 2010-12-01 14:34:00       0.00         NaN  United Kingdom

### CustomerID - Check missing values in it

In [28]:
print("\n--- CustomerID Missing Data ---")
missing_customerid_df = df[df['CustomerID'].isnull()]
print(f"Number of rows with missing CustomerID: {missing_customerid_df.shape[0]}")
print("Examples of transactions with missing CustomerID:")
print(missing_customerid_df.head())

--- CustomerID Missing Data ---
Number of rows with missing CustomerID: 135080
Examples of transactions with missing CustomerID:
     InvoiceNo StockCode                      Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country
622     536414     22139                              NaN        56 2010-12-01 11:52:00       0.00         NaN  United Kingdom
1443    536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1 2010-12-01 14:32:00       2.51         NaN  United Kingdom
1444    536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2 2010-12-01 14:32:00       2.51         NaN  United Kingdom
1445    536544     21786               POLKADOT RAIN HAT          4 2010-12-01 14:32:00       0.85         NaN  United Kingdom
1446    536544     21787            RAIN PONCHO RETROSPOT         2 2010-12-01 14:32:00       1.66         NaN  United Kingdom

In [27]:
# Observe if these missing IDs correspond to specific countries or descriptions.
print("Countries associated with missing CustomerIDs (top 5):")
print(missing_customerid_df['Country'].value_counts().head())

Countries associated with missing CustomerIDs (top 5):
Country
United Kingdom    133600
EIRE                 711
Hong Kong            288
Unspecified          202
Switzerland          125
Name: count, dtype: int64

## Key Observations and Data Quality Issues got from the above analysis:

Based on the initial data exploration, here are the critical observations and data quality issues that need to be addressed before proceeding with CLTV analysis:

* **Missing `CustomerID`**: A significant portion  of the rows have missing `CustomerID`. Since CLTV is calculated per customer, these records are unusable for our primary goal.
    * *Decision:* These rows must be removed.
* **Negative `Quantity`**: The `Quantity` column contains negative values (e.g., -1, -12, -24). These typically represent returns or cancellations. The `InvoiceNo` for these often starts with 'C'.
    * *Decision:* For predicting positive customer value (lifetime *revenue*), these transactions should be filtered out. We are interested in actual purchases.
* **Zero or Negative `UnitPrice`**: Some transactions show a `UnitPrice` of 0 or even negative values. These transactions contribute no monetary value and could indicate data entry errors or specific promotional items.
    * *Decision:* Filter out these transactions as they do not contribute to revenue for CLTV calculation.
* **`InvoiceDate` Data Type**: The `df.info()` output indicates `InvoiceDate` is an `object` type (or sometimes datetime if pandas infers it immediately). For time-based analysis (like calculating Recency, Frequency, and Customer Tenure), it must be converted to a proper `datetime` format.
    * *Decision:* Convert `InvoiceDate` to datetime objects.
* **`TotalPrice` Calculation**: The dataset does not have a `TotalPrice` column per line item. This needs to be calculated by multiplying `Quantity` by `UnitPrice`.
    * *Decision:* Create a new `TotalPrice` column.